GOOGLE_DRIVE_ID=0AFf9PJLlmSq-Uk9PVA
GOOGLE_SHEET_ID=1dLYIxFRVvbpv-GL-2Yr6wHBc_QHvYoLbM7oAi781OqY
ADMIN_PASSWORD=
GOOGLE_SERVICE_ACCOUNT_JSON=
GOOGLE_CLIENT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_BILLINGS_TAB=วางบิล
GOOGLE_CUSTOMERS_TAB=ลูกค้า
LINE_CHANNEL_ACCESS_TOKEN=
LINE_CHANNEL_SECRET=
LINE_TEST_GROUP_ID=
ENABLE_TEST_LINE_FLEX=FALSE
LINE_FLEX_HERO_IMAGE_URL=
LINE_STICKER_PACKAGE_ID=
LINE_STICKER_ID=
AUTO_REMINDER_DAYS_BEFORE=3
AUTO_REMINDER_OVERDUE_DAYS=3
